body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
body{
    background:#fff;
    color:#000;
    font-size:14px;
    font-family: 'Microsoft yahei',Verdana, Arial, Helvetica, sans-serif;
}
td,th,caption {
    font-size:14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:normal; font-size:100%;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal; font-weight:normal;
}
a{
    text-decoration:none;
}
img{
    border:none;
}
ol,ul,li {
    list-style:none;
}
li{
    vertical-align:top;
}
input, textarea, select, button {
    font:14px 'Microsoft yahei',Verdana,Helvetica,Arial,sans-serif; }
table {
    border-collapse:collapse;
}
.clearfix:after {
    content: ".";
    display: block;
    height:0;
    clear:both;
    visibility: hidden;
}
.clearfix { *zoom:1; }

body{
    min-width: 330px;
}
/*头部区域*/
#header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 65px;
	background-color: #E9EBEE;
	box-shadow: 0 1px 2px 1px rgba(200,200,200,.8);
	z-index: 999;
}
.h-main{
	max-width: 1100px;
	width: 90%;
	height: 65px;
	margin: 0 auto;
}
.h-m-logo{
	float: left;
	padding: 14px;
}
.h-m-logo img{
	width: 132px;
	height: 37px;
}
.h-m-nav{
	float: left;
	position: relative;
	height: 100%;
	margin-left: 97px;
}
.h-m-nav ul.nav-list1{
	display: block;
	height: 100%;
}
.h-m-nav ul.nav-list2{
	display: none;
	height: 100%;
}
.h-m-nav ul.nav-list2 li#show-more .more-hidden{
	display: none;
	position: absolute;
	top: 36px;
	right: -10px;
	width: 100px;
	border: 1px solid #555;
	background: #fff;
	border-radius: 5px;
}

.h-m-nav ul.nav-list1>li,
.h-m-nav ul.nav-list2>li{
	float: left;
	height: 100%;
}
.h-m-nav ul.nav-list1>li a{
	display: block;
	font-size: 15px;
	color: #000;
	padding: 23px 39px;
}
.h-m-nav ul li a:hover,
.h-m-nav ul li a.active{
	color: #A7C31E;
}
.more-hidden>ul>li>a{
	display: block;
	font-size: 15px;
	color: #000;
	padding: 8px 18px;
	text-align: center;
}

/*头部区域结束*/

/*底部区域*/
#footer{
	width: 90%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    color: #ccc;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}
#footer span{
	 margin: 0 30px;
}
/*底部区域结束*/
/*900~1200区域*/
@media all and (max-width:1200px) and (min-width:900px){
	/*头部部分*/
	.h-m-nav{
		margin-left: 24px;
	}
	.h-m-nav ul.nav-list1>li a{
		padding: 23px 20px;
	}
	/*头部部分结束*/

}
/*0~900区域*/
@media all and (max-width: 900px){
	/*头部部分*/
	.h-m-nav ul.nav-list1{
		display: none;
	}
	.h-m-nav ul.nav-list2{
		display: block;
	}
	#header{
		height: 100px;
		background-color: #fff;
	}
	.h-main{
		height: 100%;
		margin: 0 auto;
	}
	.h-m-logo{
		float: none;
		width: 137px;
		margin: 0 auto;
		padding: 14px 0 0 0;
	}
	.h-m-nav{
		float: none;
		height: 44px;
		margin: 0 auto;
	}
	.h-m-nav ul.nav-list2{
		height: 100%;
		margin: 0 auto;
	}
	.h-m-nav ul.nav-list2>li{
		float: left;
		height: 100%;
	}
	.h-m-nav ul.nav-list2>li a{
		position: relative;
		display: block;
		font-size: 15px;
		color: #000;
	}
	.h-m-nav ul.nav-list2>li a img.img{
		position: absolute;
		top: 14px;
		right: 15px;
		width: 14px;
		height: 14px;
	}
	.h-m-nav ul li a:hover,
	.h-m-nav ul li a.active{
		color: #A7C31E;
	}
	/*头部部分*/

	/*底部区域*/
	#footer{
		line-height: 40px;
	}
	#footer span{
		display: block;
	}
	/*底部区域结束*/
}
/*600~900区域*/
@media all and (max-width: 900px) and (min-width: 600px){
	/*头部部分*/
	.h-m-nav{
		width: 480px;
	}
	.h-m-nav ul.nav-list2>li>a{
		padding: 10px 37px;
	}
	/*头部部分结束*/
}
/*0~600区域*/
@media all and (max-width: 600px){
	/*头部部分*/
	#hander{
		min-width: 320px;
	}
	.h-m-nav{
		width: 320px;
	}
	.h-m-nav ul.nav-list2>li a{
		padding: 10px 16px;
	}
	.h-m-nav ul.nav-list2>li a img.img{
		right: 1px;
	}
	/*头部部分结束*/

	/*底部区域*/
	#footer{
		font-size: 12px;
	}
	/*底部区域结束*/
}


/*轮播部分*/
#banner{
	position: relative;
	width: 100%;
	height: 850px;
	margin-top: 71px;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
}
.container .part{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.part1{
	background: url(../images/index/bg1-1.png) center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
    background-size: contain;
}
.part1 .img1{
	position: absolute;
	top: 500px;
	left: 100px;
	width: 300px;
	height: 120px;
	background: url(../images/index/bg1-2.png) 0 0/100% 100%;
}
.part1 .img2{
	position: absolute;
	bottom: 4px;
	right: 0;
	width: 970px;
	height: 730px;
	background: url(../images/index/bg1-3.png) 0 0/100% 100%;
}
.part2{
	background: radial-gradient(rgb(0,173,239),rgb(0,82,124));
}
.part2 .img1{
	position: absolute;
    top: 500px;
    left: 100px;
    width: 300px;
    height: 120px;
}
.part2 .img1 p{
	width: 100%;
	margin: 10px 0;
}
.part2 .img1 p:last-child{
	background: #b3cd35;
	width: 90%;
	padding: 5%;
	border-radius: 5px;
}
.part2 .img1 p img{
	display: block;
    width: 100%;
}
.part2 .img2{
	position: absolute;
	bottom: 100px;
    right: 50px;
    width: 930px;
    height: 635px;
	background: url(../images/index/bg2-4.png) 0 0/100% 100%;
}
.part3{
	background: url(../images/index/bg3-1.jpg) 0 0/100% 100%;
}
.part3 .img1{
	position: absolute;
    top: 200px;
    right: 200px;
    width: 300px;
    height: 120px;
}
.part3 .img1 p{
	width: 100%;
	margin: 10px 0;
}
.part3 .img1 p:last-child{
	background: #b3cd35;
	width: 90%;
	padding: 5%;
	border-radius: 5px;
}
.part3 .img1 p img{
	display: block;
    width: 100%;
}
.part3 .img2{
	position: absolute;
    top: 115px;
    left: 70px;
    width: 777px;
    height: 600px;
	background: url(../images/index/bg3-2.png) 0 0/100% 100%;
}
.tab{
	position: absolute;
    left: 50%;
    bottom: 27px;
    width: 62px;
    height: 10px;
    margin-left: -30px;
}
.tab ul li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #006597;
	margin: 0 5px;
	cursor: pointer;
}
.tab ul li.on{
	width: 6px;
    height: 6px;
    background: transparent;
    border: 2px solid #9eb737;
}
/*轮播部分结束*/

/*经典案例部分*/
#classic{
	position: relative;
	width: 100%;
	height: 920px;
	background: url(../images/index/bg.png) center center;
}
#classic .c-title{
	max-width: 521px;
	width: 50%;
	height: 90px;
	padding-top: 30px;
	margin: 0 auto;
	background: url(../images/index/line.png) no-repeat center bottom;
}
#classic .c-title img{
	display: block;
	margin: 0 auto;
}
#classic .c-title p{
	margin-top: 22px;
	font-size: 18px;
	text-align: center;
}
.c-swiper{
	overflow: hidden;
	position: relative;
	width: 85%;
	height: 593px;
	margin: 80px auto 0;
}
.c-swiper ul{
	position: absolute;
	top: 0;
	left: 50%;
	width: 500%;
	height: 100%;
}
.c-swiper ul li{
	float: left;
	position: relative;
	top: 50%;
	width: 240px;
	height: 395px;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
	-webkit-transition: width .3s,height .3s;
	-moz-transition: width .3s,height .3s;
	-o-transition: width .3s,height .3s;
	transition: width .3s,height .3s;
}
.c-swiper ul li img{
	width: 100%;
	height: 100%;
}
.c-swiper ul li.slide{
	width: 300px;
	height: 494px;
}
.c-swiper ul li.mid{
	width: 360px;
	height: 593px;
}
.c-btn div{
	position: absolute;
	top: 50%;
	width: 48px;
	height: 48px;
	-webkit-transform: translate(0,50%);
	-moz-transform: translate(0,50%);
	-ms-transform: translate(0,50%);
	-o-transform: translate(0,50%);
	transform: translate(0,50%);
	cursor: pointer;
}
.c-btn div.pre{
	left: 45px;
}
.c-btn div.next{
	right: 45px;
}
.c-dot{
	width: 80%;
}
.c-dot ul{
	position: absolute;
	bottom: 5%;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
}
.c-dot ul li{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.c-dot ul li.color1{
	background: url(../images/index/c_dot1.png) no-repeat center center;
}
.c-dot ul li.color2{
	background: url(../images/index/c_dot2.png) no-repeat center center;
}
.c-dot ul li.color3{
	background: url(../images/index/c_dot3.png) no-repeat center center;
}
.c-dot ul li.color4{
	background: url(../images/index/c_dot4.png) no-repeat center center;
}
/*经典案例部分结束*/

/*研发伙伴部分*/
#partner{
	width: 100%;
	height: 460px;
}
.p-title{
	max-width: 521px;
	width: 50%;
	height: 90px;
	padding-top: 30px;
	margin: 0 auto;
	background: url(../images/index/line.png) no-repeat center bottom;
}
.p-title img{
	display: block;
	margin: 0 auto;
}
.p-title p{
	margin-top: 22px;
	font-size: 18px;
	text-align: center;
}
.p-company{
	width: 100%;
}
.p-company ul{
	max-width: 795px;
	width: 100%;
	height: 50px;
	margin: 0 auto;
}
.p-company ul li{
	float: left;
	margin: 120px 40px 0;
}
.p-company ul li a{
	display: block;
}
.p-company ul li img{
	display: block;
	width: 100%;
}
.p-company ul li.l1{
	width: 218px;
}
.p-company ul li.l2{
	width: 120px;
}
.p-company ul li.l3{
	width: 213px;
}
/*研发伙伴部分结束*/



/*1200~1500区域*/
@media all and (max-width: 1500px) and (min-width: 1200px){
	/*轮播部分*/
	#banner{
		height: 500px;
	}
	.part1 .img1{
		top: 308px;
		left: 50px;
	}
	.part1 .img2{
		width: 640px;
		height: 440px;
	}
	.part2 .img1{
		top: 300px;
		left: 50px;
	}
	.part2 .img2{
		bottom: 20px;
		right: 100px;
		width: 635px;
		height: 450px;
	}
	.part3 .img1{
		top: 100px;
		right: 100px;
	}
	.part3 .img2{
		top: 0;
        left: 45px;
        width: 640px;
        height: 490px;
	}
	/*轮播部分结束*/

	/*经典案例部分*/
	#classic{
		height: 790px;
	}
	.c-swiper{
		height: 475px;
	}
	.c-swiper ul li{
		width: 192px;
		height: 317px;
	}
	.c-swiper ul li.mid{
		width: 288px;
		height: 475px;
	}
	.c-swiper ul li.slide{
		width: 240px;
		height: 396px;
	}
	/*经典案例部分结束*/


}
/*900~1200区域*/
@media all and (max-width:1200px) and (min-width:900px){

	/*轮播部分*/
	#banner{
		height: 450px;
	}
	.part1 .img1{
		top: 308px;
		left: 55px;
	}
	.part1 .img2{
		right: 50px;
		width: 500px;
		height: 385px;
	}
	.part2 .img1{
		top: 200px;
		left: 50px;
		width: 250px;
		height: 120px;
	}
	.part2 .img2{
		bottom: 50px;
		right: 50px;
		width: 546px;
		height: 384px;
	}
	.part3 .img1{
		top: 100px;
        right: 50px;
        width: 260px;
        height: 100px;
	}
	.part3 .img2{
		top: 20px;
        left: 30px;
        width: 500px;
        height: 390px;
	}
	/*轮播部分结束*/

	/*经典案例部分*/
	#classic{
		height: 740px;
	}
	.c-swiper{
		width: 75%;
		height: 354px;
	}
	.c-swiper ul li{
		width: 144px;
		height: 236px;
	}
	.c-swiper ul li.mid{
		width: 216px;
		height: 354px;
	}
	.c-swiper ul li.slide{
		width: 180px;
		height: 295px;
	}
	/*经典案例部分结束*/
}
/*0~900区域*/
@media all and (max-width: 900px){
	/*轮播部分*/
	#banner{
		margin-top: 110px;
	}
	.part1 .img1{
		top: 270px;
		left: 50%;
		width: 196px;
		height: 77px;
		margin-left: -98px
	}
	.part1 .img2{
		right: 50%;
		top: 10px;
		width: 330px;
		height: 250px;
		margin-right: -165px; 
	}
	/*轮播部分结束*/

	/*经典案例部分*/
	.c-dot{
		display: none;
	}
	/*经典案例部分*/

	/*研发伙伴部分*/
	.p-company ul li{
		float: none;
		margin: 50px auto;
	}
	/*研发伙伴部分结束*/
}
/*600~900区域*/
@media all and (max-width: 900px) and (min-width: 600px){
	/*轮播部分*/
	#banner{
		height: 350px;
	}
	.part2 .img1{
		top: 200px;
		left: 30px;
		width: 180px;
		height: 90px;
	}
	.part2 .img2{
		bottom: 36px;
		right: 10px;
		width: 370px;
		height: 270px;
	}
	.part3 .img1{
		top: 100px;
        right: 30px;
        width: 200px;
        height: 100px;
	}
	.part3 .img2{
		top: 50px;
        left: 20px;
        width: 350px;
        height: 270px;
	}
	/*轮播部分结束*/
	/*经典案例部分*/
	#classic{
        height: 690px;
    }
   .c-swiper{
		width: 70%;
		height: 354px;
		margin-top: 100px; 
	}
	.c-swiper ul li{
		width: 144px;
		height: 236px;
	}
	.c-swiper ul li.mid{
		width: 216px;
		height: 354px;
	}
	.c-swiper ul li.slide{
		width: 180px;
		height: 295px;
	}
	/*经典案例部分结束*/
}
/*0~600区域*/
@media all and (max-width: 600px){
	/*轮播部分*/
	#banner{
		height: 400px;
	}
	.part1 .img1{
		top: 295px;
		
	}
	.part1 .img2{
		top: 20px;
	}
	.part2 .img1{
		top: 250px;
		left: 50%;
		width: 200px;
		height: 94px;
		margin-left: -100px;
	}
	.part2 .img2{
		bottom: 172px;
		right: 50%;
		width: 300px;
		height: 210px;
		margin-right: -150px;
	}
	.part3 .img1{
		top: 254px;
        right: 50%;
        width: 200px;
        height: 100px;
        margin-right: -100px;
	}
	.part3 .img2{
		top: 0;
        left: 50%;
        width: 300px;
        height: 233px;
        margin-left: -150px;
	}
	/*轮播部分结束*/

	/*经典案例部分*/
	 #classic{
        height: 690px;
    }
   	#classic .c-title{
		width: 70%;
    	-webkit-background-size: contain;
    	-moz-background-size: contain;
    	background-size: contain;
    }
    #classic .c-title img{
    	width: 70%;
    }
    .c-swiper{
		width: 198px;
		height: 327px;
		margin-top: 100px; 
	}

	.c-swiper ul li{
		width: 144px;
		height: 236px;
	}
	.c-swiper ul li.mid{
		width: 198px;
		height: 327px;
	}
	.c-swiper ul li.slide{
		width: 180px;
		height: 295px;
	}
	/*经典案例部分结束*/

	/*研发伙伴部分*/

	.p-title{
		width: 70%;
    	-webkit-background-size: contain;
    	-moz-background-size: contain;
    	background-size: contain;
    }
    .p-title img{
    	width: 70%;
    }
    .p-company ul li.l1{
		width: 36.3%;
	}
	.p-company ul li.l2{
		width: 20%;
	}
	.p-company ul li.l3{
		width: 35.5%;
	}
	/*研发伙伴部分结束*/
}
/*内容部分*/
#content{
	margin-top: 71px;
}
#c-part1{
	position: relative;
	-webkit-background: url(../images/campus/bg1.jpg) center center/cover;
	-moz-background: url(../images/campus/bg1.jpg) center center/cover;
	background: url(../images/campus/bg1.jpg) center center/cover;
}
.c-p-title{
	width: 280px;
	height: 120px;
	padding: 15% 0 0 25%
}
.c-p-title .p1{
	font-size: 40px;
	color: #fff;
}
.c-p-title .p2{
	float: left;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
}
.c-p-box{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: rgba(255,255,255,.5);
	line-height: 100px;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.part .btn{
	position: absolute;
	left: 50%;
	top: 0;
	width: 46px;
	height: 46px;
	background: url(../images/campus/a_d.png);
	margin-top: -23px;
	margin-left: -23px;
	cursor: pointer;
}
#content .bg{
	width: 100%;
	height: 430px;
	-webkit-background-position: center center;
	-moz-background-position: center center;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-background-attachment: fixed;
	-moz-background-attachment: fixed;
	background-attachment: fixed;
}
#content .bg1{
	background-image: url(../images/campus/bg2.jpg);
}
#content .bg2{
	background-image: url(../images/campus/bg3.jpg);
}
#content .bg3{
	background-image: url(../images/campus/bg4.jpg);
}
#content .bg4{
	background-image: url(../images/campus/bg5.jpg);
}
#content .bg5{
	background-image: url(../images/campus/bg6.jpg);
}

#c-part2{
	position: relative;
	width: 100%;
	height: 530px;
	background: #f0f2f5;
}
.c-p-wrap{
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.c-p-wrap .w-left{
	position: absolute;
	top: 50%;
	left: 0; 
	width: 310px;
	height: 150px;
	margin-top: -75px;
	color: #0080BA;
	font-size: 18px;
	line-height: 35px;
}
.c-p-wrap .w-left .p1{
	font-size: 40px;
	line-height: 70px;
}
.c-p-wrap .w-right{
	position: absolute;
	right: 0;
	width: 530px;
	height: 100%;
	overflow: hidden;
}
.c-p-wrap .w-right .p1,
.c-p-wrap .w-right .p2{
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: rotate(0deg) translate(0,-50%);
	-moz-transform: rotate(0deg) translate(0,-50%);
	-ms-transform: rotate(0deg) translate(0,-50%);
	-o-transform: rotate(0deg) translate(0,-50%);
	transform: rotate(0deg) translate(0,-50%);
}
.c-p-wrap .w-right .p1 img,
.c-p-wrap .w-right .p2 img{
	display: block;
}
.c-p-wrap .w-right .p2{
	right: 32px;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation: round 20s linear infinite;
	-moz-animation: round 20s linear infinite;
	animation: round 20s linear infinite;
}
@keyframes  round{
	from{
		-webkit-transform: rotate(0deg) translate(0,-50%);
		-moz-transform: rotate(0deg) translate(0,-50%);
		-ms-transform: rotate(0deg) translate(0,-50%);
		-o-transform: rotate(0deg) translate(0,-50%);
		transform: rotate(0deg) translate(0,-50%);
	}
	to{
		-webkit-transform: rotate(360deg) translate(0,-50%);
		-moz-transform: rotate(360deg) translate(0,-50%);
		-ms-transform: rotate(360deg) translate(0,-50%);
		-o-transform: rotate(360deg) translate(0,-50%);
		transform: rotate(360deg) translate(0,-50%);
	}
}
.part .btn{
	top: auto;
	bottom: -23px;
}
#c-part3{
	position: relative;
	width: 100%;
	height: 530px;
	background: #f0f2f5;
}
.c-p-tab{
	width: 980px;
	height: 100%;
	margin: 0 auto;
}
.c-p-tab .tab1{
	float: right;
    width: 237px;
    height: 125px;
    margin-top: 200px;
    font-size: 18px;
	line-height: 35px;
    color: #0080ba;
}
.c-p-tab .tab1 .p1{
	font-size: 40px;
	line-height: 70px;
}
.c-p-tab .tab2{
	 float: left;
    position: relative;
    width: 324px;
    height: 324px;
    margin-top: 103px;
}
.c-p-tab .tab2 ul li{
	display: none;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/campus/m5.png");
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
}
.c-p-tab .tab2 ul li.l1{
	display: block;
	-webkit-background-position: 0 0;
	-moz-background-position: 0 0;
	background-position: 0 0;
}
.c-p-tab .tab2 ul li.l2{
	 background-position: 0 -100%;
}
.c-p-tab .tab2 ul li.l3{
	 background-position: 0 -200%;
}
.c-p-tab .tab2 ul li.l4{
	 background-position: 0 -300%;
}
.c-p-tab .tab2 ul li.l5{
	 background-position: 0 -400%;
}
.c-p-tab .tab2 ul li.l6{
	 background-position: 0 -500%;
}
.c-p-tab .tab2 ul li.l7{
	 background-position: 0 -600%;
}
.c-p-tab .tab2 ul li.l8{
	 background-position: 0 -700%;
}
.c-p-tab .tab2 ul li.l9{
	 background-position: 0 -800%;
}
.c-p-tab .tab3{
	float: left;
	width: 160px;
    height: 333px;
    margin: 100px 0 0 100px;
}
.c-p-tab .tab3 ul li{
	 list-style: disc;
    color: #b6d230;
    font-size: 20px;
    line-height: 35px;
    cursor: pointer;
}
.c-p-tab .tab3 ul li span{
	color: #0080BA;
    transition: .2s linear;
}
.c-p-tab .tab3 ul li.on span{
	font-size: 28px;
}
#c-part4{
	position: relative;
	width: 100%;
	height: 530px;
	background: #f0f2f5;
}
.c-p-clock{
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.c-p-clock .c-left{
	position: absolute;
	top: 50%;
	left: 0; 
    width: 300px;
    height: 120px;
    margin-top: -60px;
    font-size: 18px;
	line-height: 35px;
    color: #0080BA;
}
.c-p-clock .c-left .p1{
	font-size: 40px;
	line-height: 70px;
}
.c-p-clock .c-right{
	position: absolute;
	right: 0;
	width: 460px;
	height: 100%;
}
.c-p-clock .c-right .p1{
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: rotate(0deg) translate(0,-50%);
	-moz-transform: rotate(0deg) translate(0,-50%);
	-ms-transform: rotate(0deg) translate(0,-50%);
	transform: rotate(0deg) translate(0,-50%);
	transform: rotate(0deg) translate(0,-50%);
}
.c-p-clock .c-right .p2{
	position: absolute;
	top: 156px;
	left: 145px;
	-webkit-transform-origin: 40px 108px;
	-moz-transform-origin: 40px 108px;
	-ms-transform-origin: 40px 108px;
	-o-transform-origin: 40px 108px;
	transform-origin: 40px 108px;
	-webkit-animation: pointer 60s linear infinite;
	-moz-animation: pointer 60s linear infinite;
	-ms-animation: pointer 60s linear infinite;
	-o-animation: pointer 60s linear infinite;
	animation: pointer 60s linear infinite;
}
@keyframes  pointer{
	from{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		 }
	to{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.c-p-clock .c-right .p1 img,
.c-p-clock .c-right .p2 img{
	display: block;
}
.part .btn{
	top: auto;
	bottom: -23px;
}


#c-part5{
	position: relative;
	width: 100%;
	height: 530px;
	background: #f0f2f5;
}
.c-p-platform{
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.c-p-platform .p-right{
	position: absolute;
	top: 50%;
	right: 0; 
    width: 300px;
    height: 120px;
    margin-top: -60px;
    font-size: 18px;
	line-height: 35px;
    color: #0080BA;
}
.c-p-platform .p-right .p1{
	font-size: 40px;
	line-height: 70px;
}
.c-p-platform .p-left{
	position: absolute;
	left: 0;
	width: 555px;
	height: 100%;
}
.c-p-platform .p-left .p1{
	position: absolute;
	left: 37px;
	top: 62px;
	width: 555px;
	height: 450px;
	background-image: url(../images/campus/m9_bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.c-p-platform .p-left .p1 img{
	display: block;
	position: absolute;
	left: -5px;
	top: -2px;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
	-webkit-animation: pointer 20s linear infinite;
	-moz-animation: pointer 20s linear infinite;
	-ms-animation: pointer 20s linear infinite;
	-o-animation: pointer 20s linear infinite;
	animation: pointer 20s linear infinite;
}
@keyframes  pointer{
	from{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		}
	to{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.part .btn{
	top: auto;
	bottom: -23px;
}

#c-part6{
	position: relative;
	width: 100%;
	height: 530px;
	background: #f0f2f5;
}
.c-p-equipment{
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.c-p-equipment .e-left{
	position: absolute;
	top: 50%;
	left: 0; 
    width: 300px;
    height: 180px;
    margin-top: -90px;
    font-size: 18px;
	line-height: 35px;
    color: #0080BA;
}
.c-p-equipment .e-left .p1{
	font-size: 40px;
	line-height: 70px;
}
.c-p-equipment .e-left .p3{
	width: 100%;
	height: 83px;
	margin-left: -10px;
}
.c-p-equipment .e-left .p3 ul>li{
	float: left;
	width: 37px;
	color: #0080BA;
	margin: 0 10px 10px 10px;
} 
.c-p-equipment .e-left .p3 ul>li span{
	display: block;
	width: 37px;
	font-size: 16px;
	line-height: 34px;
	text-align: center;
}
.c-p-equipment .e-left .p3 ul>li img{
	display: block;
	width: 37px;
	height: 37px;
}
.c-p-equipment .e-right{
	position: absolute;
	right: 0;
	width: 668px;
	height: 100%;
}
.c-p-equipment .e-right .p1{
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
}
.c-p-equipment .e-right .p1 img{
	width: 100%;
	height: 100%;
}
/*内容部分结束*/

/*底部区域*/
#footer{
    border-top: none;
}
.footer-bg{
	width: 100%;
	background: radial-gradient(rgb(0,173,239),rgb(0,82,124));
}
/*底部区域结束*/

/*900~1200区域*/
@media all and (max-width: 1200px) and (min-width: 900px){
	.c-p-wrap{
		width: 900px;
	}
	.c-p-tab{
		width: 825px;
	}
	.c-p-clock{
		width: 900px;
	}
	.c-p-platform{
		width: 900px;
	}
	.c-p-equipment{
		width: 880px;
	}
	.c-p-equipment .e-right{
		width: 550px;
	}
}

/*0~900区域*/
@media all and (max-width: 900px){
	#content{
		margin-top: 106px;
	}
	#content .part .btn{
		display: none;
	}
	#content .bg{
		-webkit-background-attachment: scroll;
		-moz-background-attachment: scroll;
		background-attachment: scroll;
	}
	#content .bg{
        height: 300px;
    }
    .c-p-wrap{
    	width: 100%
    }
	.c-p-wrap .w-left{
		position: static;
		margin: 0 auto;
		padding-top: 20px;
		text-align: center;
	}
	.c-p-wrap .w-left .p1{
		font-size: 34px;
	}
	.c-p-wrap .w-right{
		position: relative;
		width: 400px;
		height: 343px;
		margin: 0 auto;
	}
	.c-p-wrap .w-right .p2{
		right: 24px;
	}
	.c-p-wrap .w-right .p1 img{
		width: 400px;
		height: 265px;
	}
	.c-p-wrap .w-right .p2 img{
		width: 350px;
		height: 327px;
	}
	.c-p-tab .tab1{
		float: none;
		margin: 0 auto;
		padding-top: 30px;
		text-align: center;
	}
	.c-p-tab .tab1 .p1{
		font-size: 34px;
	}
	.c-p-tab .tab2,
	.c-p-tab .tab3{
		margin-top: 36px;
	}
	.c-p-clock{
    	width: 100%
    }
	.c-p-clock .c-left{
		position: static;
		margin: 0 auto;
		padding-top: 20px;
		text-align: center;
	}
	.c-p-clock .c-left .p1{
		font-size: 34px;
	}
	.c-p-clock .c-right{
		position: relative;
		width: 400px;
		height: 387px;
		margin: 0 auto;
	}
	.c-p-clock .c-right .p2{
		top: 115px;
		left: 163px;
		-webkit-transform-origin: 30px 77px;
		-moz-transform-origin: 30px 77px;
		-ms-transform-origin: 30px 77px;
		-o-transform-origin: 30px 77px;
		transform-origin: 30px 77px;
	}
	.c-p-clock .c-right .p1 img{
		width: 400px;
		height: 325px;
	}
	.c-p-clock .c-right .p2 img{
		width: 118px;
		height: 118px;
	}

	.c-p-platform{
    	width: 100%
    }
	.c-p-platform .p-right{
		position: static;
		margin: 0 auto;
		padding-top: 20px;
		text-align: center;
	}
	.c-p-platform .p-right .p1{
		font-size: 34px;
	}
	.c-p-platform .p-left{
		position: absolute;
		top: 115px;
		left: 53%;
		width: 417px;
		height: 340px;
		-webkit-transform: rotate(0deg) translate(-50%,0);
		-moz-transform: rotate(0deg) translate(-50%,0);
		-ms-transform: rotate(0deg) translate(-50%,0);
		-o-transform: rotate(0deg) translate(-50%,0);
		transform: rotate(0deg) translate(-50%,0);
	}
	.c-p-platform .p-left .p1{
		width: 100%;
		height: 100%;
	}
	.c-p-platform .p-left .p1 img{
		left: -3px;
		width: 300px;
		height: 300px;
	}

	
	.c-p-equipment{
		width: 100%;
	}
	.c-p-equipment .e-left{
		position: static;
	    margin: 0 auto;
	    padding-top: 20px;
		text-align: center;
	}
	.c-p-equipment .e-left .p1{
		font-size: 34px;
	}
	.c-p-equipment .e-left .p3{
		margin-left: 35px;
	}
	.c-p-equipment .e-left .p3 ul>li img{
		width: 35px;
		height: 35px;
	}
	.c-p-equipment .e-right{
		position: absolute;
		top: 240px;
		left: 50%;
		width: 400px;
		height: 216px;
		-webkit-transform: rotate(0deg) translate(-50%,0);
		-moz-transform: rotate(0deg) translate(-50%,0);
		-ms-transform: rotate(0deg) translate(-50%,0);
		-o-transform: rotate(0deg) translate(-50%,0);
		transform: rotate(0deg) translate(-50%,0);
	}
}

/*600~900区域*/
@media all and (max-width: 900px) and (min-width: 600px){
	#c-part1 .c-p-title{
		width: 200px;
		height: 120px;
		padding: 10% 0 0 20%;
	}
	#c-part1 .c-p-title .p1{
		font-size: 30px;
	}
	#c-part1 .c-p-title .p2{
		font-size: 16px;
	}
	.c-p-tab{
		width: 600px;
	}

}
/*0~600区域*/
@media all and (max-width: 600px) {
	#c-part1 .c-p-title{
		width: 150px;
		height: 70px;
		padding: 10% 0 0 20%;
	}
	#c-part1 .c-p-title .p1{
		font-size: 24px;
	}
	#c-part1 .c-p-title .p2{
		font-size: 12px;
		line-height: 20px;
	}
	#c-part1 .c-p-box{
		height: 40px;
        line-height: 40px;
        font-size: 12px;
	}
	.c-p-wrap .w-left{
		height: 100px;
		font-size: 14px;
		line-height: 27px;
	}
	.c-p-wrap .w-left .p1{
		font-size: 24px;
		line-height: 44px;
	}
	.c-p-wrap .w-right{
		width: 300px;
		height: 270px;
		margin-top: 50px;
	}
	.c-p-wrap .w-right .p2{
		right: 14px;
	}
	.c-p-wrap .w-right .p1 img{
		width: 300px;
		height: 200px;
	}
	.c-p-wrap .w-right .p2 img{
		width: 270px;
		height: 253px;
	}
	#c-part3{
		height: 650px;
	}
	.c-p-tab{
		width: 100%;
	}
	.c-p-tab .tab1{
		font-size: 14px;
		line-height: 27px;
	}
	.c-p-tab .tab1 .p1{
		font-size: 24px;
		line-height: 44px;
	}
	.c-p-tab .tab2{
		float: none;
        width: 280px;
        height: 280px;
        margin: 0 auto;
	}
	.c-p-tab .tab3{
		float: none;
        width: 300px;
        height: 100px;
        margin: 25px auto 0;
	}
	.c-p-tab .tab3 ul li{
		float: left;
        margin: 0 18px;
	}
	.c-p-tab .tab3 ul li span{
		font-size: 16px;
	}
	.c-p-tab .tab3 ul li.on span{
		color: #b6d230;
		font-size: 16px;
	}

	.c-p-clock .c-left{
		height: 100px;
		font-size: 14px;
		line-height: 27px;
	}
	.c-p-clock .c-left .p1{
		font-size: 24px;
		line-height: 44px;
	}
	.c-p-clock .c-right{
		width: 300px;
		height: 270px;
		margin-top: 50px;
	}
	.c-p-clock .c-right .p2{
		top: 73px;
		left: 121px;
		transform-origin: 23px 62px;
	}
	.c-p-clock .c-right .p1 img{
		width: 300px;
		height: 244px;
	}
	.c-p-clock .c-right .p2 img{
		width: 95px;
		height: 95px;
	}


	.c-p-platform .p-right{
		height: 100px;
		font-size: 14px;
		line-height: 27px;
	}
	.c-p-platform .p-right .p1{
		font-size: 24px;
		line-height: 44px;
	}
	.c-p-platform .p-left{
		width: 318px;
		height: 261px;
	}
	.c-p-platform .p-left .p1 img{
		width: 230px;
		height: 230px;
	}


	.c-p-equipment .e-left{
		height: 100px;
		font-size: 14px;
		line-height: 27px;
	}
	.c-p-equipment .e-left .p1{
		font-size: 24px;
		line-height: 44px;
	}
	.c-p-equipment .e-right{
		width: 300px;
		height: 162px;
	}
	.c-p-equipment .e-left .p3 ul>li span{
		width: 34px;
		font-size: 14px;
	}
	.c-p-equipment .e-left .p3 ul>li img{
		width: 30px;
		height: 30px;
	}
}
/*中部图片*/
.case-container{
	width: 100%;
	height: 616px;
	margin-top: 71px;
}
.case-container .c-box{
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../images/case/bg.jpg) center center/cover;
}
.case-container .c-b-title{
	position: absolute;
	left: 100px;
	top: 50%;
	width: 410px;
	height: 114px;
	margin-top: -57px;
}
.case-container .c-b-title .p1{
	width: 100%;
	height: 28px;
}
.case-container .c-b-title .p2{
	width: 100%;
	height: 34px;
	margin: 20px 0 10px;
}
.case-container .c-b-title .p3{
	width: 100%;
	height: 17px;
}
.case-container .c-b-title .p img{
	display: block;
	width: 100%;
	height: 100%;
}
/*中部图片结束*/

/*经典案例部分*/
#case{
	width: 100%;
}
#case .c-title{
	max-width: 521px;
	width: 50%;
	height: 90px;
	padding-top: 30px;
	margin: 0 auto;
	background: url(../images/case/line.png) no-repeat center bottom;
}
#case .c-title img{
	display: block;
	margin: 0 auto;
}
#case .c-title p{
	margin-top: 22px;
	font-size: 18px;
	text-align: center;
}
.c-list{
	max-width: 860px;
	width: 80%;
	margin: 10px auto;
	color: #969696;
	line-height: 30px;
}
.c-l-universty .p1{
	font-size: 20px;
	color: #646464;
	padding-top: 100px;
	margin-bottom: 50px;
}
.c-l-universty .p2{
	font-size: 16px;
}
.c-l-universty .p3{
	max-width: 507px;
	margin: 50px auto;
}
.c-l-universty .p3 img{
	width: 100%;
}
/*经典案例部分结束*/

/*900~1200区域*/
@media all and (max-width: 1200px) and (min-width: 900px){
	/*中部图片部分*/
	.case-container{
		height: 516px;
	}
	.case-container .c-b-title{
		left: 50px;
	}
	/*中部图片部分结束*/
}

/*0~900区域*/
@media all and (max-width: 900px){
	/*中部图片部分*/
	.case-container {
		height: 400px;
		margin-top: 107px;
	}
	.case-container .c-b-title{
		width: 270px;
		height: 91px;
		left: 30px;
		margin-top: -46px;
	}
	.case-container .c-b-title .p1{
		height: 19px;
	}
	.case-container .c-b-title .p2{
		height: 23px;
	}
	.case-container .c-b-title .p3{
		height: 12px;
	}
	.case-container .c-b-title .p1 img{
		width: 270px;
		height: 19px;
	}
	.case-container .c-b-title .p2 img{
		width: 270px;
		height: 23px;
	}
	.case-container .c-b-title .p3 img{
		width: 270px;
		height: 12px;
	}
	/*中部图片部分结束*/
}

/*600~900区域*/
@media all and (max-width: 900px) and (min-width: 600px){
	/*中部图片部分*/
	
	/*中部图片部分结束*/

}
/*0~600区域*/
@media all and (max-width: 600px) {
	/*中部图片部分*/
	.case-container {
		height: 210px;
	}
	.case-container .c-b-title{
		width: 150px;
		height: 63px;
		left: 10px;
		margin-top: -31px;
	}
	.case-container .c-b-title .p1{
		height: 11px;
	}
	.case-container .c-b-title .p2{
		height: 13px;
		margin: 10px 0 5px;
	}
	.case-container .c-b-title .p3{
		height: 6px;
	}
	.case-container .c-b-title .p1 img{
		width: 150px;
		height: 11px;
	}
	.case-container .c-b-title .p2 img{
		width: 150px;
		height: 13px;
	}
	.case-container .c-b-title .p3 img{
		width: 150px;
		height: 6px;
	}
	/*中部图片部分结束*/

	/*经典案例部分*/
	#case .c-title{
		width: 70%;
		-webkit-background-size: contain;
		-moz-background-size: contain;
    	background-size: contain;
    }
    #case .c-title img{
    	width: 70%;
    }

    .c-list{
		max-width: 860px;
		width: 80%;
		margin: 10px auto;
		color: #969696;
		line-height: 30px;
	}
	.c-l-universty .p1{
		font-size: 16px;
		text-align: center;
	}
	.c-l-universty .p2{
		font-size: 13px;
	}
	/*经典案例部分结束*/
	
}
/*中部图片*/
.news-container {
	width: 100%;
	height: 560px;
	margin-top: 71px;
}
.news-container .c-box{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../images/news/bg.jpg) center center/cover;
}
.news-container .c-b-title{
	width: 100%;
	height: 100%;
}
.news-container .c-b-title .p1{
	position: absolute;
	top: 50%;
	left: 10%;
}
.news-container .c-b-title .p1 img{
	width: 100%;
}
.news-container .c-b-title .p2{
	width: 800px;
	margin: 0 auto;
	padding-top: 250px;
}
.news-container .c-b-title .p2 img{
	width: 100%;
}
.news-container .c-b-title .p3{
	position: absolute;
	top: 40%;
	right: 10%;
}
.news-container .c-b-title .p3 img{
	width: 100%;
}
.news-container .c-b-title .p4{
	position: absolute;
	bottom: 10%;
	right: 5%;
}
.news-container .c-b-title .p4 img{
	width: 100%;
}
/*中部图片结束*/

/*新闻部分*/
#case{
	width: 100%;
}
.n-title{
	max-width: 520px;
	width: 50%;
	height: 90px;
	padding: 30px 0 12px;
	margin: 0 auto;
	line-height: 40px;
	background: url(../images/news/line.png) no-repeat center bottom;
}
.n-title img{
	display: block;
	width: 50%;
	margin: 0 auto;
}
.n-title p{
	margin-top: 18px;
	font-size: 20px;
	text-align: center;
}
.n-list{
	position: relative;
	min-width: 850px;
	width: 45%;
	margin: 30px auto;
	padding-bottom: 40px;
}
.news-details{
	overflow: hidden;
	padding: 25px 0;
}
.news-img{
	float: left;
}
.news-img img{
	display: block;
	width: 192px;
	height: 118px;
}
.news-text{
	float: left;
	width: 600px;
	margin-left: 50px;
	font-size: 16px;
	color: #969696;
	line-height: 30px;
}
.news-text h1.news-title{
	font-size: 20px;
}
.news-text h1.news-title a{
	color: #000;
}
.news-text p.news-time{
	color: #c8c8c8;
	font-weight: bold;
}
.news-btn{
	position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 22px;
}
.news-btn a{
	display: block;
    float: right;
    margin: 0 5px;
    height: 22px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 22px;
    border-radius: 5px;
    background: #000;
    color: #F0F0F0;
}
.news-btn .pg-btn{
	float: right;
    height: 22px;
}
.news-btn .pg-btn a.pg-num{
	float: left;
}
/*新闻部分结束
/*900~1200区域*/
@media all and (max-width: 1200px) and (min-width: 900px){
	/*中部图片部分*/
	.news-container {
		height: 450px;
	}
	.news-container .c-b-title .p1{
		left: 5%;
		width: 110px;
	}
	.news-container .c-b-title .p2{
		width: 600px;
		padding-top: 170px;
	}
	.news-container .c-b-title .p3{
		right: 5%;
		width: 150px;
	}
	.news-container .c-b-title .p4{
		width: 50px;
	}

	/*中部图片部分结束*/
}

/*0~900区域*/
@media all and (max-width: 900px){
	/*中部图片部分*/
	.news-container {
		height: 350px;
		margin-top: 107px;
	}
	.news-container .c-b-title .p1{
		width: 80px;
	}
	.news-container .c-b-title .p2{
		width: 400px;
		padding-top: 160px;
	}
	.news-container .c-b-title .p3{
		width: 120px;
	}
	.news-container .c-b-title .p4{
		width: 30px;
	}
	/*中部图片部分结束*/

}

/*600~900区域*/
@media all and (max-width: 900px) and (min-width: 600px){
	/*新闻部分*/
	.n-list{
		min-width: 500px;
	}
	.news-text{
		float: left;
		width: 300px;
		margin-left: 6px;
		font-size: 13px;
		line-height: 25px;
	}
	.news-text h1.news-title{
		font-size: 16px;
	}
	/*新闻部分结束*/

}
/*0~600区域*/
@media all and (max-width: 600px) {
	

	/*中部图片部分*/
	.news-container {
		height: 300px;
	}
	.news-container .c-b-title .p1{
		top: 20%;
	}
	.news-container .c-b-title .p2{
		width: 300px;
	}
	.news-container .c-b-title .p3{
		top: 10%;
	}
	/*中部图片部分结束*/

	/*新闻部分*/
	.n-title{
		width: 70%;
    	-webkit-background-size: contain;
    	-moz-background-size: contain;
    	background-size: contain;
    }
    .n-title img{
    	width: 70%;
    }
    .n-list{
		min-width: 320px;
	}
	.news-details{
		padding: 0;
	}
	.news-img{
		float: none;
	}
	.news-img img{
		margin: 0 auto;
	}
	.news-text{
		float: none;
		width: 300px;
		margin: 20px auto;
		font-size: 12px;
		line-height: 30px;
	}
	.news-text h1.news-title{
		font-size: 16px;
		text-align: center;
	}
	.news-btn{
		width: 100%;
		height: 22px;
	}
	.news-btn a{
		margin: 0 2px;
	}
	/*新闻部分结束*/
	
}
/*中部图片部分*/
.rec-container {
	width: 100%;
	height: 560px;
	margin-top: 72px;
}
.rec-container .c-box{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../images/recruiting/bg.jpg) center center/cover;
}
.rec-container .c-b-title{
	width: 100%;
	height: 100%;
}
.rec-container .c-b-title .p1{
	width: 1000px;
	margin: 0 auto;
	padding-top: 133px;
}
.rec-container .c-b-title .p1 img{
	width: 100%;
}
/*中部图片部分结束*/

/*招聘部分*/
#recruiting{
	width: 100%;
}
.r-title{
	max-width: 520px;
	width: 50%;
	height: 90px;
	padding: 30px 0 12px;
	margin: 0 auto;
	line-height: 40px;
	background: url(../images/recruiting/line.png) no-repeat center bottom;
}
.r-title img{
	display: block;
	width: 50%;
	margin: 0 auto;
}
.r-title p{
	margin-top: 18px;
	font-size: 20px;
	text-align: center;
}

.r-list{
	width: 80%;
	margin: 10px auto;
	color: #969696;
	line-height: 30px;
}
.r-list .r-l-name{
	max-width: 520px;
	margin: 0 auto;
}
.r-list .r-l-name h1{
	padding: 25px 0;
	font-size: 20px;
	color: #2F96C5;
}
.r-list .r-l-name ul li{
	font-size: 16px;
}
.r-treatment{
	max-width: 660px;
	width: 80%;
	margin: 0 auto;
	font-size: 16px;
	color: #93CA21;
	padding-top: 30px;
	line-height: 40px;
	text-align: center;
}
.r-treatment .r-t-email{
	color: #628816;
	padding: 25px 0;
}	
.r-treatment .r-t-email span{
	display: inline-block;
	margin: 0 20px;
}

/*招聘部分结束*/
/*900~1200区域*/
@media all and (max-width: 1200px) and (min-width: 900px){
	/*中部图片部分*/
	.rec-container {
		height: 450px;
	}
	.rec-container .c-b-title .p1{
		width: 800px;
		padding-top: 109px;
	}

	/*中部图片部分结束*/
}

/*0~900区域*/
@media all and (max-width: 900px){
	/*中部图片部分*/
	.rec-container {
		height: 350px;
		margin-top: 107px;
	}
	.rec-container .c-b-title .p1{
		width: 600px;
		padding-top: 93px;
	}
	/*中部图片部分结束*/
}

/*600~900区域*/
@media all and (max-width: 900px) and (min-width: 600px){
	

}
/*0~600区域*/
@media all and (max-width: 600px) {
	

	/*中部图片部分*/
	.rec-container {
		height: 200px;
	}
	.rec-container .c-b-title .p1{
		width: 320px;
		padding-top: 63px;
	}
	/*中部图片部分结束*/

	/*招聘部分*/
	.r-title{
		width: 70%;
    	-webkit-background-size: contain;
    	-moz-background-size: contain;
    	background-size: contain;
    }
    .r-title img{
    	width: 70%;
    }
	.r-list .r-l-name h1{
		font-size: 16px;
		text-align: center;
	}
	.r-list .r-l-name ul li{
		font-size: 13px;
	}
	.r-treatment{
		font-size: 13px;
		line-height: 22px;
		padding-top: 20px;
	}

	/*招聘部分结束*/
	
}
/*中部图片区域*/
.contact-container{
	width: 100%;
	height: 605px;
	margin-top: 72px;
}
.contact-container .c-box{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../images/contact/bg.jpg) center center/cover;
}
.contact-container .c-b-contact{
	max-width: 520px;
	width: 50%;
	height: 90px;
	padding: 30px 0 12px;
	margin: 25px auto 0;
	line-height: 40px;
	background: url(../images/contact/line.png) no-repeat center bottom;
}
.contact-container .c-b-contact img{
	display: block;
	width: 50%;
	margin: 0 auto;
}
.contact-container .c-b-contact p{
	margin-top: 18px;
	font-size: 20px;
	text-align: center;
}
.c-b-weixin{
	width: 100%;
    margin: 4% auto 2%;
}
.c-b-weixin img{
	display: block;
    width: 150px;
	margin: 0 auto;
}
.c-b-weixin p{
	font-size: 16px;
    color: #fff;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
}
.c-b-email{
	width: 805px;
	height: 150px;
	margin: 2% auto;
}
.c-b-email ul{
	width: 100%;
	height: 100%;
}
.c-b-email ul li{
	float: left;
	margin: 0 35px;
    font-size: 18px;
    color: #fff;
}
.c-b-email ul li img{
	display: block;
	width: 70px;
	margin: 0 auto;
}
.c-b-email ul li span{
	display: block;
    text-align: center;
    line-height: 25px;
    margin-top: 20px;
}
.c-b-email ul li.e-email{
	width: 200px;
}
.c-b-email ul li.e-phone{
	width: 185px;
}
.c-b-email ul li.e-address{
	width: 201px;
}
.c-b-email ul li.e-phone span.e-p-service{
    margin-top: 0px;
}
/*中部图片区域结束*/

/*乘车路线部分*/
#bus-routes{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.bs-title{
	max-width: 520px;
	width: 50%;
	height: 90px;
	padding: 30px 0 12px;
	margin: 0 auto;
	line-height: 40px;
	background: url(../images/contact/line.png) no-repeat center bottom;
}
.bs-title img{
	display: block;
	width: 50%;
	margin: 0 auto;
}
.bs-title p{
	margin-top: 18px;
	font-size: 20px;
	text-align: center;
}
.bs-choose{
	width: 1100px;
	margin: 0 auto;
	padding: 100px 0;
	font-size: 21px;
	line-height: 70px;
}
.bs-choose li{
	margin: 50px 0;
}
.bs-choose li img{
	display: block;
	float: left;
	width: 70px;
}
.bs-choose li span{
	margin-left: 40px;
}
.bs-map{
	position: absolute;
	top: -40%;
	right: -4%;
	width: 90%;
	z-index: -1;
}
.bs-map img{
	width: 100%;
}
/*乘车路线部分结束*/
/*1200~1500区域*/
@media all and (max-width: 1500px) and (min-width: 1200px){
	/*乘车路线部分*/
	.bs-map{
		right: -10%;
	    top: -20%;
        width: 90%;
	}
	/*乘车路线部分结束*/
}
/*900~1200区域*/
@media all and (max-width: 1200px) and (min-width: 900px){
	/*中部图片部分*/
	.contact-container {
		height: 585px;
	}
	/*中部图片部分结束*/

	/*乘车路线部分*/
	.bs-choose{
		width: 900px;
	}
	.bs-choose li{
		margin: 10px 0;
	}
	.bs-map{
		position: absolute;
		top: 0%;
		right: -20%;
	}
	.bs-map img{
		width: 80%;
	}
	/*乘车路线部分结束*/
}

/*0~900区域*/
@media all and (max-width: 900px){
	/*中部图片部分*/
	.contact-container {
		height: 465px;
		margin-top: 107px;
	}
	.contact-container .c-b-contact{
		padding: 30px 0 12px;
		margin: 0 auto;
	}
	.c-b-weixin img{
	    width: 100px;
	}
	.c-b-email{
		width: 550px;
		margin: 5% auto;
	}
	.c-b-email ul li{
		margin: 0 10px;
	    font-size: 14px;
	}
	.c-b-email ul li img{
		width: 40px;
	}
	.c-b-email ul li.e-email{
		width: 160px;
	}
	.c-b-email ul li.e-phone{
		width: 140px;
	}
	.c-b-email ul li.e-address{
		width: 160px;
	}
	/*中部图片部分结束*/

	/*乘车路线部分*/
	.bs-choose{
		width: 600px;
		line-height: 50px;
	}
	.bs-choose li{
	    width: 90%;
	    font-size: 14px;
		margin: 30px auto;
	}
	.bs-choose li img{
		width: 50px;
	}
	.bs-map{
		display: none;
	}
	/*乘车路线部分结束*/
}

/*600~900区域*/
@media all and (max-width: 900px) and (min-width: 600px){
	/*中部图片区域*/
	
	/*中部图片区域结束*/

}
/*0~600区域*/
@media all and (max-width: 600px) {
	
	/*中部图片部分*/
	.contact-container {
		height: 500px;
	}
	.c-b-email{
		width: 300px;
		margin: 0 auto;
	}
	.c-b-email ul li{
		width: 280px;
		margin: 10px auto;
	}
	.c-b-email ul li img{
		float: left;
		width: 40px;
		margin-right: 20px;
	}
	.c-b-email ul li span{
		float: left;
		font-size: 16px;
	    margin-top: 5px;
	}
	.c-b-email ul li.e-email{
		width: 280px;
	}
	.c-b-email ul li.e-phone{
		width: 280px;
	}
	.c-b-email ul li.e-address{
		width: 280px;
	}
	/*中部图片部分结束*/

	/*乘车路线部分*/
	.bs-choose{
		width: 320px;
		padding: 50px 0;
	}
	.bs-choose li{
		width: 90%;
		margin: 10px auto;
	}
	.bs-choose li img{
		width: 40px;
	}
	.bs-choose li span{
		margin-left: 60px;
	    display: block;
	    width: 80%;
	    line-height: 30px;
	    font-size: 14px;
	}
	/*乘车路线部分结束*/
	
}